h2
{
    background-color: black;
    border: 2px solid black;
    color: #1AE1EB;
    font-size: 1.2em;
    margin: 0;
    padding: 0;
    text-align: center;
}

h3
{
    font-size: 1.2em;
    font-weight: bold;
    margin: 0;
    padding: 5px;
}

@media screen and (max-width: 1024px)
{
    h2
    {
        font-size: 1.5em;
    }
    h3
    {
        font-size: 1.5em;
    }
}

.CV
{
    display: flex;
    flex-direction: row;
}

.gauche
{
    background-color: #1AE1EB;
    display: flex;
    flex-direction: column;
    height: 1250px;
    width: 30%; 
}

@media screen and (max-width: 1024px)
{
    .gauche
    {
        width: 100%; 
    }
    .CV
    {
        flex-direction: column-reverse;
    }
}

.photo
{
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: center;
}

.photoYMR
{
    border: 1px solid black;
    border-radius: 80px 80px;
}

.contact
{
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 250px;
    justify-content: space-around;
}

@media screen and (max-width: 1024px)
{
    .contact
    {
        height: 400px;
    }
}

.coordonnee
{
    font-size: 0.8em;
    width: 90%;
}

.propos
{
    align-self: center;
    display: flex;
    flex-direction: column;
    font-size: 0.8em;
    height: 550px;
    justify-content: flex-start;    
    width: 90%;
}

.loisirs
{
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 200px;
    justify-content: space-around;
}

.icone
{
    border: 1px solid black;
    border-radius: 100px 100px;
    padding: 15px;
}

.droite
{
    align-items: center;    
    display: flex;
    flex-direction: column;
    height: 2100px;
    width: 70%; 
}

@media screen and (max-width: 1024px)
{
    .droite
    {
        width: 100%; 
    }
}

.droite-centre
{
    width: 90%; 
}

header
{
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: center;
}

.identite
{
    display: flex;
    flex-direction: row;
}

.prenom
{
    color: #1AE1EB;
    font-size: 2.5em;    
    margin: 0 10px 0 0;
}

.nom
{
    color: black;
    font-size: 2.5em;
}

.metier
{
    font-size: 1.4em;
}

.soulignement
{
    border-bottom: 1px solid #1AE1EB;
}

.trait
{
    border-top: 1px solid #1AE1EB;
}

.rubrique
{
    align-items: baseline;
    display: flex;
    flex-direction: row;
}

.picto
{
    color: #1AE1EB;
    width: 45px; 
}

.conteneur_puce
{
    align-items: flex-end;
    color: #1AE1EB;
    display: flex;
    flex-direction: row;
    height:12px;
    justify-content: flex-start;
    width: 20px;
 }

.puce
{
    background-color: #1AE1EB;
    border: 1px solid  #1AE1EB;
    border-radius: 2px 2px;
    height: 4px;
    width: 4px;
}

.item_majeur
{
    display: flex;
    flex-direction: row;
    margin: 25px 0 25px 0;
}
    
.item
{
    display: flex;
    flex-direction: row;
    margin: 25px 0 25px 0;
}
    
.date
{
    display: flex;
    font-size: 0.8em;
    width: 35%; 
}

.ecole
{
    display: flex;
    flex-direction: column;
    width: 65%; 
} 
 
.entreprise
{
    font-size: 0.9em;
}

.complement
{
    font-size: 0.8em;
}

footer
{
    display: flex;
    flex-direction: row;
}   

.recommandation
{
    font-size: 0.8em;
    width: 50%; 
}

.mail
{
    font-family: sans-serif;
    font-size: 0.7em;
}   

@media screen and (max-width: 1024px)
{
    .prenom
    {
        font-size: 3.0em;    
    }
    .nom
    {
        font-size: 3.0em;
    }
    .coordonnee
    {
        font-size: 1.4em;
    }
    .propos
    {
        font-size: 1.4em;
    }
    .metier
    {
        font-size: 1.9em;
    }
    .date
    {
        font-size: 1.4em;
    }
    .entreprise
    {
        font-size: 1.5em;
    }
    .complement
    {
        font-size: 1.4em;
    }
    .recommandation
    {
        font-size: 1.4em;
    }
    .mail
    {
        font-size: 1.2em;
    }
}   
